# Python
__pycache__

# Projet
project2_description.pdf

# Dataset
twitter-datasets.zip
dataset/*
!dataset/.gitkeep
preprocessed_dataset/*
!preprocessed_dataset/.gitkeep
preprocessed_stanford_dataset/*
!preprocessed_stanford_dataset/.gitkeep

# Models
models/*
!models/.gitkeep

# GloVe
glove/*.pkl
glove/embeddings*
glove/*txt
glove.twitter.27B.zip
glove.twitter.27B/*
!glove.twitter.27B/.gitkeep

# Submissions
*.csv